@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 5 5 5;
    --foreground: 255 255 255;
    --card: 10 10 10;
    --card-foreground: 255 255 255;
    --popover: 18 18 18;
    --popover-foreground: 255 255 255;
    --primary: 99 102 241;
    --primary-foreground: 255 255 255;
    --secondary: 236 72 153;
    --secondary-foreground: 255 255 255;
    --muted: 39 39 42;
    --muted-foreground: 161 161 170;
    --accent: 234 179 8;
    --accent-foreground: 255 255 255;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 39 39 42;
    --input: 39 39 42;
    --ring: 99 102 241;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}